body {
  background-color: #090d16;
  background-image: url('../Screenshot_20260731-134115_WhatsApp.jpg');

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}
